* {
    font-family: 'Roboto', sans-serif;
}

img {
    height: 100%;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.text {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link:hover {
    border-bottom: 2px solid black;
}

body {
    background-color: #F6F7F9;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-left {
    gap: 15px;
}

.header__right {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 25px;
}

.header__number {
    font-size: 25px;
}

.btn {
    min-width: 180px;
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: black;
}

.container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.header__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-left__link {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.acquaintance {
    padding-top: 50px;
    padding-bottom: 25px;
}

.acquaintance__container {
    height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: url('img/1111.png');
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: right center;
}

.acquaintance__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}

.acquaintance__text {
    margin-bottom: 40px;
}

.acquaintance__btn {
    border-color: #3F2AFF;
    background-color: #3F2AFF;
    color: white;
}

.services {
    padding-top: 25px;
    padding-bottom: 100px;
}

.services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.subtitle {
    margin: 0;
    font-size: 40px;
}

.services__subtitle {
    margin: 15px;
}

.services__list {
    height: 250px;
    gap: 15px;
    margin-bottom: 50px;
}

.services__item {
    width: 25%;
    background-repeat: no-repeat;
    -webkit-background-size: 150px 150px;
    -moz-background-size: 150px;
    -o-background-size: 150px;
    background-size: 150px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.services__item--1 {
    background-image: url(img/services_1.png);
}

.services__item--2 {
    background-image: url(img/services_2.png);
}

.services__item--3 {
    background-image: url(img/services_3.png);
}

.services__item--4 {
    background-image: url(img/services_4.png);
}

.examples {
    padding-top: 25px;
    padding-bottom: 50px;
}

.examples__subtitle {
    margin-bottom: 50px;
}

.examples__list {
    gap: 25px;
    margin-bottom: 50px;
}

.examples__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 33%;
    gap: 20px;
}

.examples__img {
    width: 100%;
}

.cost {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 250px;
    background-color: #3F2AFF;
}

.cost__subtitle {
    margin-bottom: 50px;
    width: 50%;
    color: white;
}

.cost__text {
    width: 50%;
    font-size: 11px;
    color: white;
}

.footer {
    padding-top: 50px;
    padding-bottom: 40px;
}

.footer__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-left__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
}

.footer-left__item {
    font-size: 16px;
}

.footer-centre__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
}

.footer-right__btn {
    margin-bottom: 20px;
}

.footer-right__list {
    gap: 15px;
    -webkit-box-align: end;
    -webkit-align-items: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.popup-container {
    display: none;
    background-color: #233151ba;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 30px;
    gap: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
}

.popup__input {
    padding: 5px;
    min-width: 300px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #3F2AFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.popup__btn {
    min-width: 150px;
    background-color: #3F2AFF;
    border: 1px solid #3F2AFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
}